.octopus-wrapper { position: relative; }


#octopus {
	margin-top: 200px;
	margin-left: 500px;
	margin-right: 500px;
	margin-bottom:200px;
	position: absolute;
	z-index: 1;
}

#glasses {
	top: 300px;
	left: 540px;
	position: absolute;
	z-index: 2;
}

#hat {
	top: 100px;
	left:480px;
	position:absolute;
	z-index: 3;
}